apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kitchen-cpq-gateway
  namespace: kitchen-cpq
spec:
  rules:
    - host: kitchen-cpq.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80

